.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.item-head {
  width: 100%;
}

.item-head-container {
  margin-bottom: 1rem;
  width: 100%;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-div {
  position: relative;
  margin: 2px;
  border: 1px solid hsla(0,0%,100%,.59);
  box-sizing: border-box;
  transition: flex-basis .1s ease;
  flex-basis: calc(10.5% - 4px);
}

.item-div:before {
  content: "";
  display: block;
  padding-top: 110%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: default;
  text-shadow: 0 0 3px #000;
  box-shadow: inset 0 0 6px #000;
}

.item-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid white;
}