.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.item-head {
  width: 100%;
}

.item-head-container {
  margin-bottom: 1rem;
  width: 100%;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin-top: 6px;
}

.item-div {
  position: relative;
  margin: 2px;
  border: 1px solid hsla(0,0%,100%,.59);
  box-sizing: border-box;
  transition: flex-basis .1s ease;
  flex-basis: calc(7.2% - 22px);
}

.item-div-cat  .content{
  box-shadow: none!important;
  text-shadow: none!important;
}

.item-div:before {
  content: "";
  display: block;
  padding-top: 110%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: default;
  text-shadow: 0 0 3px #000;
  box-shadow: inset 0 0 6px #000;
}

.content p {
  font-size: 14px!important;
}

.content-cat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.content-cat hr {
  width: 100%; 
}

.content p {
  font-size: 16px;
}

.item-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid white;
}

.item-div-error {
  background-color: rgb(207, 0, 0);
}

.item-div-success {
  background-color: #07aa25;
}

.item-div-regular {
  background-color: #da820c  
}

.item-div-top {
  transition: background-color .3s ease;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.item-div-down {
  transition: background-color .3s ease;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.item-div-top::after {
  clip-path: polygon(97% 40%,80% 40%,80% 95%,20% 95%,20% 40%,3% 40%,50% 5%);
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  content: "";
  z-index: -1;
  opacity: 1;
  transition: background-color .3s ease;
}

.item-div-down::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  clip-path: polygon(97% 60%,80% 60%,80% 5%,20% 5%,20% 60%,3% 60%,50% 95%);
  content: "";
  z-index: -1;
  opacity: 1;
  transition: background-color .3s ease;
}