html {
  background-color: #1E2328;
  color: white!important;
  font-family: monospace !important;
  background-image: url("../public/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

* {
  color: white!important;
}

body:not(h1, label, input, span, p, input, legend)::before {
  /* Aplica el fondo oscuro solo al body, excluyendo el h1 */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Cambia el valor según tus necesidades */
  z-index: -1;
}

.MuiPaper-root  {
  background-color: #1e2935!important;
  color: white!important;
}

.MuiTooltip-popper[data-popper-placement*="bottom"] .css-1k51tf5-MuiTooltip-tooltip {
  font-size: 14px!important;
}

.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  border-radius: 0!important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #A5A7A9!important;
}

::-webkit-scrollbar-thumb {
  background-color: #888
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #424242;
}

.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  font-size: 16px;
  color: white;
  font-family: monospace !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: white!important;
}

.MuiButtonBase-root {
  color: white!important;
}

.MuiInputLabel-root {
  color: rgb(189, 188, 188)!important;
}

.MuiListSubheader-root {
  background-color: #172535!important;
  color: rgb(204, 203, 203)!important;
  font-size: 14px!important;
}